/*
style.css
@dylsteck
*/
/* Custom Font Face */
@font-face {
	font-family:"Basis Grotesque Pro";
	src: url('../fonts/BasisGrotesquePro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:"Basis Grotesque Pro";
	src: url('../fonts/BasisGrotesquePro-Medium.otf') format('opentype');
	font-weight: medium;
	font-style: normal;
}
@font-face {
	font-family:"Basis Grotesque Pro";
	src: url('../fonts/BasisGrotesquePro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/* Standard Settings and Variables */
*{
	font-family:"Basis Grotesque Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}
html, body{
	width:100%;
	height:100%;
	margin:0;
	padding: 0;
	background-color:#2B2D42 !important;
	overflow-x:hidden;
	/* overflow-y:hidden; */
}

#logo{
	position: absolute;
	top: 5%;
	left: 5%;
	max-width:5%;
}

.main{
	width:80%;
	left:10%;
	right:10%;
	margin-top:15%;
	position:relative;
	color:white;
}
.main h1{
	font-weight: bold;
	font-size:5vw;
}

#highlight{
	background-color: #8D99AE;
}

.col-4{
	width:33.333vw;
}
.row{
	width:100%;
	height:20vh;
	bottom:0;
	position:absolute;
}

.col-4 p, .col-4 h3{
	color:white;
	margin-left:5%;
}

#actions{
	background:url('../img/actions-banner.jpg');
}
#founder{
	background:url('../img/dylan-steck.jpg');
}
#contact{
	background-color: #333333;
}
