<% extend('layout') %>
	<header>
		<nav class="navbar fixed-top navbar-light bg-light">
  			<img class="sn-brand" src="/img/transparent.png"/>
  			<center>
  				<a href="https://github.com/stecknologies">
  					<i class="fab fa-github-alt fa-2x"></i>
  				</a>
  				<a href="https://dylansteck.com">
  					<i class="fas fa-link fa-2x"></i>
  				</a>
  				<a href="mailto:dylancsteck@gmail.com">
  					<i class="fas fa-envelope fa-2x"></i>
  				</a>
  			</center>
		</nav>
	</header>


	<div class="left">
		<a href="https://github.com/stecknologies"><img src="../img/homepageDesignDraft.jpg" class="bg-pic" /></a>
		<div class="overlay-left">
			<div class="text-left">
				<h3>universalOS</h3>
			</div>
		</div>
	</div>
	<div class="right">
		<img src="../img/dwcDraft.jpg" class="bg-pic" />
		<div class="overlay-right">
			<div class="text-right">
				<h3>DWC</h3>
			</div>
		</div>
	</div>