@font-face {
	font-family:"Basis Grotesque Pro";
	src: url('../../fonts/BasisGrotesquePro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:"Basis Grotesque Pro";
	src: url('../../fonts/BasisGrotesquePro-Medium.otf') format('opentype');
	font-weight: medium;
	font-style: normal;
}
@font-face {
	font-family:"Basis Grotesque Pro";
	src: url('../../fonts/BasisGrotesquePro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/* Standard Settings and Variables */
body{
	font-family:"Basis Grotesque Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  background: url('../img/Cortex_Landing_BG.jpg');
}

.top{
  position: absolute;
  left: 0;
  top: 0;
  margin: 5%;
}
.top img{
  width: 5vw;
}
.top p{
  display: inline-block;
  position: relative;
  bottom: 2vh;
  left: 1vw;
  color: #e9e7e6;
  font-weight: 600;
  font-size: 1.75vw;
}


.intro-text h1{
  color: #D1CDC6;
  font-size: 250%;
  max-width: 30vw;
}
.intro-text p{
  color: #e9e7e6;
  font-size: 100%;
  max-width: 30vw;
}
.intro-placer{
  width: 100vw;
  height: 80vh;
  display: block;
}

@media only screen and (max-width: 900px) {
  .intro-text h3{
    font-size: 150%;
  }
  .intro-text p{
    font-size: 50%;
  }
}

.left{
  left: 10%;
  width: 50%;
  position: relative;
  top: 25%;
  height: 50%;
  float: left;
}
.right{
  width: 60%;
  height: 50%;
  float: right;
}

.header{
  max-width: 40vw;
  margin-right: 5%;
  margin-top: 5%;
  float: right;
}
.download p{
  color: #e9e7e6;
  /* font-weight: bold; */
}
.download h3{
  color: #D1CDC6; /* gold */
  font-weight: medium;
  display: inline-block;
}

.download button{
  display: inline-block;
  float: right;
  border: none;
  border-radius: 1.2vw;
  background: #DDDBDA;
  color: white;
  width: 8vw;
  height: 4vw;
  font-size: 1.25vw;
  text-align: center;
  margin-bottom: 5%;
}

.feature{
  width: 100vw;
  height: 60vh;
  margin: 10%;
}

.feature-img{
  max-width: 33.333vw;
  float: left;
  display: inline-block;
}

.feature-text{
  max-width: 30vw;
  color: #e9e7e6;
  margin: 5%;
  margin-right: 25%;
  display: inline-block;
  float: right;
}

.feature-bold{
  font-size: 200%;
}

.download-sect{
  display: inline-block;
  margin-right: 5%;
}

.download-sect > i{
  color: #e9e7e6;
}

.download-sect > p {
  display: inline-block;
  margin-left: 15px;
}
