/* style.css
   Dylan Steck, 2019
   Opus Mage, a project by Stecknologies
*/

/* Custom Font Face */
@font-face {
	font-family:"Recoleta";
	src: url('../fonts/Recoleta/Recoleta-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family:"Recoleta";
	src: url('../fonts/Recoleta/Recoleta-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family:"Recoleta";
	src: url('../fonts/Recoleta/Recoleta-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:"Recoleta";
	src: url('../fonts/Recoleta/Recoleta-Medium.ttf') format('opentype');
	font-weight: medium;
	font-style: normal;
}
@font-face {
	font-family:"Recoleta";
	src: url('../fonts/Recoleta/Recoleta-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family:"Recoleta";
	src: url('../fonts/Recoleta/Recoleta-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family:"Recoleta";
	src: url('../fonts/Recoleta/Recoleta-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

/* Standard Variants */
html, body{
	width:100%;
	height:100%;
	margin:0;
	padding: 0;
	overflow-x: hidden;
}
body{
	font-family: "Recoleta",  -apple-system, BlinkMacSystemFont, sans-serif !important;
}
ul{
	list-style-type:none;
}
li{
	float:left;
	margin-left:3vw;
	font-size:20px;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	text-decoration:underline;
	text-decoration-color:#81979A;
}

/* Header(Nav and Back to stecknologies.com) */
.upper-left{
	position: relative;
	top:15px;
	left:15px;
}

#opus-mage{
	color:white;
	text-align:center;
}
#snLogo{
	max-width:3vw;
	float:left;
	margin-right:15px;
}

/* Main Poster */ 
.header{
	background-image: url("../images/Large-Magellanic-Cloud.jpg") !important;
/*	background-position: left center;*/
	background-size: 100vw;
	padding:0 !important;
	margin-bottom: 0!important;
}


.header{
	/* text-align:center;  this line centers the content */
	top:0;
	height:75vh;
}
.header p{
	font-weight:lighter;
	max-width:50vw;
	color:white !important;
}

#jumbo-text{
	position: relative;	
	left:5%;
	top:25%;
}
#jumbo-text h3{
	color:white;
	font-size:5vw;
}
.lead{
	font-weight: normal !important;
}


.today-left{
	background-image: url("../images/workspace.png") !important;
	background-size:100%;
	visibility: 0.7;
	float:left;
	left:0;
}

.today-right{
	background-color:#FFFDD0;
}


small{
	font-size:60% !important;
}

.features{
	margin-top:5vh !important;
}
.features .col{
	margin-right:5vw;
}

@media screen and (max-width: 700px){
	/* put something in for the divs in the why section */
	#ph-button{
		width:40vw !important;
	}
	#snLogo{
	max-width:5vw !important;
	}
	.today-right{
		flex: 0 0 100% !important;
		max-width: 100% !important;
		position: relative;
    	padding-right: 15px;
    	padding-left: 15px;
	}
	.today-left{
		visibility: hidden;
	}
	#jumbo-text h3{
	color:white;
	font-size:10vw !important;
	}
	#ph-button, .btn-light{
		visibility: hidden;
	}
	.lead{
		max-width:75vw !important;
	}
}

.jumbotron a{
	color:black !important;
	width:300px;
}

.fa-product-hunt{
	color: #CA5E3C !important;
}
.list-group-item{
	display:block !important;
}

#ph-button{
	width:20vw;
}
.btn-light{
	max-height:50px !important;
}
.fa-heart{
	color:#fc4a4a;
}

.footer a{
	color:#6c757d!important;
}